{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ZALUSHOP{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script>
        function submitLogoutForm(event) {
            event.preventDefault();  
            document.getElementById('logout-form').submit();  
        }
    </script>
</head>
<body>

<header>
    <nav>
        <div class="container">
            <h1><a href="{% url 'home' %}">ZALUSHOP</a></h1>
            <ul>
                <li><a href="/shop/">Каталог одежды</a></li>
                <li><a href="/admin/">Админпанель</a></li>
                {% if user.is_authenticated %}
                    <li><a href="#" onclick="submitLogoutForm(event);">Выход</a></li>
                    <form id="logout-form" action="{% url 'accounts:logout' %}" method="post" style="display: none;">
                        {% csrf_token %}
                    </form>
                {% else %}
                    <li><a href="{% url 'accounts:register' %}">Регистрация</a></li>
                    <li><a href="{% url 'accounts:login' %}">Вход</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>

<main>
    {% block content %}

    {% endblock %}
</main>

<footer>
    <div class="container">
        <p>&copy; 2024 ZALUSHOP</p>
    </div>
</footer>

</body>
</html>
