{% extends 'base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% load static %} {# Загрузите тег static, если вы используете статические файлы #}

{% block content %}
  <h1>{{ product.name }}</h1>
  <div>
    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
    <p class="product-price">{{ product.price }} руб.</p>
    <p>{{ product.description }}</p>
    <!-- Форма для добавления товара в корзину -->
    <form action="{% url 'cart:cart_add' product.id %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Добавить в корзину" class="btn">
    </form>
  </div>
{% endblock content %}
