{% extends 'base.html' %}

{% block title %}Каталог продукции{% endblock %}

{% block content %}
  <div>
    {% for category in categories %}
    <h2>{{ category.name }}</h2>
      <div class="category-container" style="overflow-x: auto; white-space: nowrap;">
        {% for product in category.products.all %}
          <div class="product-card" style="display: inline-block; width: 300px; margin: 40px;">

            <div class="product-image">
              {% if product.images.all %}
                <img src="{{ product.images.all.0.image.url }}" alt="{{ product.name }}" style="width: 100%;">
              {% endif %}
            </div>


            <div class="product-info">
              <h3 class="product-name">{{ product.name }}</h3>
              <p class="product-price">{{ product.price }} руб.</p>
              <a href="{% url 'product_detail' product.id product.slug %}" class="btn">Подробнее</a>
            </div>
          </div>
        {% empty %}
          <p>В этой категории нет доступных продуктов.</p>
        {% endfor %}

      </div>
    {% endfor %}
  </div>
{% endblock content %}
